$primary-color: #FF9514;
$secondary-color: #111111;
$tertiary-color: #575757;
$white-color: #FFF;
$gray-color: #E0E0E0;
$background-color: #F3F3F4;
$primary-text-color: #111111;
$secondary-text-color: #575757;
$tertiary-text-color: #333E48;


$xs-down: 576px;
$sm-down: 768px;
$md-down: 1024px;
$lg-down: 1440px;

$xs-up: 575px;
$sm-up: 767px;
$md-up: 1023px;
$lg-up: 1439px;
